.container {
    min-height: 100vh;
    padding: 0 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .scrolled-page {
    height: 100vh; 
    background-image: url('/public/imgPrep/ClearBGdetails.png');
    background-size: cover;
    background-attachment: fixed; /* Enables the parallax effect */
  }